:root {
    --green__500: hsl(158, 36%, 37%);
    --green__700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font styles */
p {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: clamp(0.75rem, .65rem + 1vw, 1rem);
  line-height: 1.5;
  color: var(--grey);
  margin-top: 1rem;
}
h1 {
    font-family: "Fraunces", Times, serif;
    color: var(--black);
    margin-top: 1rem;
    font-size: clamp(1.5rem, 1rem + 1vw, 4rem)
}
.subheading {
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: clamp(0.7rem, .5rem + 1vw, 1rem)
}

body {
    background-color: var(--cream);
    min-height: 100dvh;
    padding: 4rem 1rem;
    display: grid;
    place-items: center;
}
.card {
    background-color: var(--white);
    max-width: 42rem;
    border-radius: .5rem;
}
.image {
    display: block;
    width: 100%;
    border-radius: .5rem .5rem 0 0;
    height: 100%;
}
article {
    padding: 1.5rem;
}
.pricing__line {
    margin-top: 1rem;
}
.price {
    font-family: "Fraunces", Times, serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--green__500);
}
.strikethrough__superscript {
    text-decoration: line-through;
    vertical-align: super;
    font-size: x-small;
    padding-left: .5rem;
    font-family: "Montserrat", sans-serif;
    color: var(--grey)
}
button {
    margin-top: 1rem;
    width: 100%;
    border: 0;
    padding: 1rem;
    border-radius: .4rem;
    color: var(--white);
    background-color: var(--green__500);
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;

    font-size: 0.875rem;           
    font-weight: 500;             
    line-height: 1; 
}
.button__icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
button:hover {
    background-color: var(--green__700); 
}
.attribution {
    margin-top: 1rem;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: clamp(0.75rem, .65rem + 1vw, 1rem);
}
@media screen and (min-width: 42rem) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
        gap: 10px;
    }
    .image {
        border-radius: .5rem 0 0 .5rem;
    }
}